.flex {
  display: flex;
  border: 12px;
  opacity: .6;
}
.layer {
  width: 600px;
  height: 400px;
  background: green;
  padding: 1px;
}
.layer > div {
  width: 200px;
  height: 200px;
  background: red;
  margin: 100px auto;
  flex: 1;
}
